<%#= notice %>
<%# if @book.errors.any? %>
  <%#= @book.errors.count %>
  <!--error prohibited this obj from being saved:-->
  <!--<ul>-->
    <%# @book.errors.full_messages.each do |message| %>
      <!--<li>-->
        <%#= message %>
        <!--</li>-->
    <%# end %>
  <!--</ul>-->
<%# end %>
<main>
  <%= render 'userinfo', user: @user %>

  <div class="col-md-8 offset-md-1">
    <tbody>
      <div class="card" style="width: 31.5rem;">
            <% @post_favtimes.each do |post_favtime| %>
              <tr>
                  <td>
                    <% if post_favtime.image.attached? %>
                      <%= link_to edit_publics_post_favtime_comment_path(post_favtime.user), class:"card-img-top" do %>
                        <%= image_tag  post_favtime.image, size: "500x500" %>
                      <% end %>
                    <% end %>
                  </td>
                            <!--<td>-->
                            <%# else %>
                            <%#= link_to post_favtime.title, book_path(book) do %>
                            <%#= image_tag 'no_image.jpag', size: "500x500" %>
                            <%# end %>
                            <%# end %>
                            <!--</td>-->
                <div class="card-body">
                  <%= render 'publics/post_favtimes/like', post_favtime: post_favtime %>
                  <td>
                    <div class="form-group">
                      <label for="favtime_title">Title</label>
                      <h5 class="card-title"><%= post_favtime.title %></h5>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label for="favtime_introductio">Introductio</label>
                      <h5 class="card-text"><%= post_favtime.introduction %></h5>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label for="favtime_introductio">comment</label>
                      <h5 class="card-text"><%= post_favtime.comments %></h5>
                    </div>
                  </td>
            <% end %>
          <!--コメント一覧-->
            <%= render 'publics/comments/comment', comments: @user.comments %>
                </div>
          </tr>
        </div>
    </tbody>
  </div>
</main>

