<main>
<p id="notice"></p>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
        <!--col-11 col-sm-10 col-lg-8 col-xl-6">-->
           <%= image_tag asset_path("top.png"), size: "960x540" %>
          <div class="btn-wrapper col-10 mx-auto">
            </br>
            </br>
            <div style="text-align: center">
              <%= link_to new_user_session_path do %>
              <%= image_tag asset_path("Log.png"), size: "130x60" %>
              <% end %>
            　&emsp;
              <%= link_to new_user_registration_path do %>
              <%= image_tag asset_path("Sign.png"),size: "130x60" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


</main>