<% if post_favtime.liked_by?(current_user) %>
                         <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
    <%= link_to publics_post_favtime_likes_path(post_favtime.id), class:"btn btn-danger", method: :delete do %>
         <span style="color:red;">❤<%= post_favtime.likes.count %>︎</span>
    <% end %>
 <% else %>
      <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
    <%= link_to publics_post_favtime_likes_path(post_favtime.id), class:"btn btn-outline-danger", method: :post do %>
        <span><i class="far fa-heart"></i></span>
    <% end %>
 <% end %>
 <td>
 <% if post_favtime.user == current_user %>
  <%= link_to edit_publics_post_favtime_comment_path(post_favtime), class:"btn btn-outline-success" do %>
  <i class="far fa-edit"></i>
  <% end %>
 <% end %>
</td>
<td>
 <% if post_favtime.user == current_user %>
  <%= link_to publics_post_favtime_path(post_favtime), class:"btn btn-outline-danger", method: :delete, "data-confirm" => "本当に消しますか？" do %>
   <i class="far fa-trash-alt"></i>
  <% end %>
 <% end %>
</td>