<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
              <h1>Publics::PostFavtimes#edit</h1>
              <%= form_with model: @post_favtime, url: publics_post_favtimes_path(@post_favtime.id) do |f| %>
                    <div class="form-group">
                        <label for="favtime_image">image</label><br>
                        <%= f.file_field :image, accept: "image/*" %>
                    </div>
                    <div class="form-group">
                        <label for="book_title">title</label>
                        <%= f.text_field :title, class:"form-control" %>
                    </div>

                    <div class="form-group">
                        <label for="favtime_opinion">text</label>
                        <%= f.text_area :introduction, class:"form-control" %>
                    </div>
                    <div class="form-group">
                       <%= f.submit 'Update favtime', class: "btn btn-success" %><br>
                    </div>
                    <% end %>
                      <%= link_to "Show",publics_post_favtime_path(@post_favtime) %>
                  		 |
                	    <%= link_to "Back",publics_post_favtimes_path %>
    </div>
  </div>
</div>