<%= notice %>
<%# if @book.errors.any? %>
  <%#= @book.errors.count %>
  <!--error prohibited this obj from being saved:-->
  <!--<ul>-->
    <%# @book.errors.full_messages.each do |message| %>
      <!--<li>-->
        <%#= message %>
        <!--</li>-->
    <%# end %>
  <!--</ul>-->
<%# end %>
<%= render 'publics/users/userinfo', user: current_user %>
  <div class="col-md-8 offset-md-1">
    <tbody>
      　<!--<div class="shadow">-->
      　  <div class="card" style="width: 31.5rem;">
          <% @post_favtimes.each do |post_favtime| %>
                  <% if post_favtime.image.attached? %>
                   <%= link_to publics_post_favtime_path(post_favtime), class:"card-img-top" do %>
                   <%= image_tag  post_favtime.image, size: "500x500" %>
                   <% end %>
                  <% end %>
                <%# else %>
                  <%#= link_to post_favtime.title, book_path(book) do %>
                  <%#= image_tag 'no_image.jpag', size: "500x500" %>
                  <%# end %>
                <%# end %>
                <div class="card-body">
                      <%= render 'publics/post_favtimes/like', post_favtime: post_favtime %>
                      &nbsp;&nbsp;&nbsp;
                      <label for="favtime_introductio"><h5><i class="fas fa-comment"></i></h5></label>
                      <h7><%= link_to publics_post_favtime_path(post_favtime) do %><%= post_favtime.comments.count %></h7>
                          <% end %>件
                    <div class="form-group">
                      <label for="favtime_title"><h5>Title &nbsp;: &nbsp;</h5></label>
                      <h7 class="card-title"><%= post_favtime.title %></h7>
                    </div>
                    <div class="form-group">
                      <label for="favtime_introductio"><h5>Introductio&nbsp;: &nbsp;</h5></label>
                      <h7 class="card-text"><%= post_favtime.introduction %></h7>
                    </div>
                </div>
          <% end %>
          </div>
        <!--</div>-->
    </tbody>
  </div>
