<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <tbody>
            <%# @post_favtimes.each do |post_favtime| %>
          <div class="card" style="width: 31.5rem;">
              <tr>
                <td>
                  <% if @post_favtime.image.attached? %>
                   <%= link_to edit_publics_post_favtime_path(@post_favtime.user), class:"card-img-top" do %>
                   <%= image_tag  @post_favtime.image, size: "500x500" %>
                   <% end %>
                  <% end %>
                </td>
                <!--<td>-->
                <%# else %>
                  <%#= link_to post_favtime.title, book_path(book) do %>
                  <%#= image_tag 'no_image.jpag', size: "500x500" %>
                  <%# end %>
                <%# end %>
                <!--</td>-->
                <div class="card-body">
                      <%= render 'like', post_favtime: @post_favtime %>
                    <td>
                       <div class="form-group">
                         <label for="favtime_title">Title</label>
                          <h5 class="card-title"><%= @post_favtime.title %></h5>
                       </div>
                    </td>
                    <td>
                      <div class="form-group">
                         <label for="favtime_introductio">Introductio</label>
                          <h5 class="card-text"><%= @post_favtime.introduction %></h5>
                       </div>
                    </td>
                     <td>
                      <div class="form-group">
                         <label for="favtime_introductio">comment</label>
                          <h5 class="card-text"><%= @post_favtime.comments %></h5>
                       </div>
                    </td>

                        <%= form_with(model:[:publics, @post_favtime, @comment], method: :post) do |f| %>
                          <%= f.text_area :comment %>
                          <%= f.hidden_field :comment_id, value: @comment.id %>
                          <%= f.submit 'Comment' %>
                        <% end %>
                      <!--コメント一覧-->
                      <%= render 'publics/comments/comment', comments: @comments %>
             </tr>
            <%# end %>
                </div>
          </div>
        </tbody>
    </div>
  </div>
</div>